In [1]:
import os
print(os.getcwd())
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import glob
import matplotlib.pyplot as plt

# Iterating over one column - `f` is some function that processes your data
def fill_dataset_under(u):
    #df_totals = df_totals.append({'Quantity Under': u},ignore_index=True )
    df_streaks["Quantity Under"][u] = df_streaks["Quantity Under"][u] + 1
    
def fill_dataset_over(o):
    df_streaks["Quantity Over"][o] = df_streaks["Quantity Over"][o] + 1
    
    
def fill_dataset_win(w):
    #df_totals = df_totals.append({'Quantity Under': u},ignore_index=True )
    df_streaks["Quantity Win"][w] = df_streaks["Quantity Win"][w] + 1
    
def fill_dataset_loss(l):
    df_streaks["Quantity Loss"][l] = df_streaks["Quantity Loss"][l] + 1

def streak_counter_total():
    over = 0
    under = 0
    for x in df['Total Result']:
        if x == 'O' :
            if under > 0:
                fill_dataset_under(under)
                under = 0 
            over += 1
            
        if x == 'U':
            if over > 0:
                fill_dataset_over(over)
                over = 0 
            under += 1
            
        if x == "P":
            if over > 0:
                fill_dataset_over(over)
                over = 0 
                under += 1
            if under > 0 :
                fill_dataset_under(under)
                under = 0 
                over += 1
                
            
            
            
            
            
def streak_counter_win():
    win = 0
    loss = 0
    for x in df['Result']:
        if x == 'W':
            if loss > 0:
                fill_dataset_loss(loss)
                loss = 0 
            win += 1
            
        if x == 'L':
            if win > 0:
                fill_dataset_win(win)
                win = 0 
            loss += 1
    




df_streaks = pd.DataFrame(columns=['Streak Total' , 'Quantity Win', 'Quantity Loss','Quantity Over', 'Quantity Under'])
for i in range(23):
    df_streaks = df_streaks.append({'Streak Total': i,'Quantity Win' : 0, 'Quantity Loss': 0,'Quantity Over': 0, 'Quantity Under': 0},ignore_index=True )

for i in glob.glob("datasets\MLB_2017\*.csv"):

    df = pd.read_csv(i, header=None)
    df = df.drop(4, 1)
    df = df.drop(5, 1)
    df = df.drop(6, 1)
    df = df.drop(7, 1)
    df = df.drop(8, 1)
    df = df.drop(9, 1)
    df = df.drop(10, 1)

    df.columns = ["Date", "VS", "Result", "Score", "MoneyLine", "Total Result", "Total Line", "Total Line"]
    #print(df)
    streak_counter_win()
    streak_counter_total()

C:\Users\work\Documents\GitHub\historica_stats\mlb

In [2]:
df.head()

       Date    VS Result Score  MoneyLine Total Result Total Line Total Line
0  10/01/17   PIT      L  8-11       -199            O        8.5       -112
1  09/30/17   PIT      L   1-4       -265            U        7.0        106
2  09/29/17   PIT      W   6-1       -195            U        7.5        103
3  09/28/17   PIT      W   5-4       -117            P        9.0          -
4  09/27/17  @PHI      L   5-7       -146            O        9.0       -120

In [3]:
df_streaks

   Streak Total Quantity Win Quantity Loss Quantity Over Quantity Under
0             0            0             0             0              0
1             1          617           601           715            755
2             2          264           275           328            274
3             3          147           152           133            154
4             4           83            69            67             77
5             5           29            47            33             31
6             6           27            23            23             19
7             7            7            10            12              7
8             8            3             4             4              2
9             9            3             4             2              1
10           10            2             0             0              1
11           11            2             1             0              0
12           12            0             0             0              0
13           13            1             0             0              0
14           14            0             0             0              0
15           15            0             0             0              0
16           16            0             0             0              0
17           17            0             0             0              0
18           18            0             0             0              0
19           19            0             0             0              0
20           20            0             0             0              0
21           21            0             0             0              0
22           22            1             0             0              0

In [4]:
df_streaks = df_streaks[(df_totals.T != 0).any()]
df_streaks

NameError: name 'df_totals' is not defined

In [ ]:
df_streaks.plot()

In [ ]:
df_streaks.plot.scatter(x='Streak Total', y='Quantity Over')

In [ ]:
df.plot.scatter(x='Quantity Over', y='Streak Total')

In [ ]:

df_streaks.plot(x ='Streak Total', y ='Quantity Under') 
plt.show()

In [ ]:
a= df['Streak Total'].tolist()
a= df['Quantity Over'].tolist()
print(a)
plt.xlabel('Dimension') 
plt.ylabel('Importance')
plt.plot(a, 'ro', color='r',linewidth=1.0, label="Graph2")

# just the following line will do it
plt.xticks(np.arange(len(a)), np.arange(1, len(a)+1))

plt.grid()   
plt.show()    
plt.close()

In [ ]:
print(df)